{% extends "PRVitrineBundle::layout.html.twig" %}

{% block title %}Contacts{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block pr_vitrine_body %}
    <h1>Contact</h1>

    <div class="col-lg-3">&nbsp;</div>
    <div class="col-lg-6">
      <form action="{{ path('gestion_contact') }}" method="post"  >
          {{ form_widget(form)}}

          {{ form_rest(form)}}
        <input name='envoyer' class='btn btn-info' type='submit' value='Envoyer' /> 
      </form>
    </div>
    <div class="col-lg-3">&nbsp;</div>

{% endblock %}
