{% extends "PRVitrineBundle::layout.html.twig" %}
{% from 'PRVitrineBundle:Upload:flash.macros.twig' import session_flash %}
{% block title %}
  {{ parent() }} - Upload des fichiers
{% endblock %}

{% block pr_vitrine_body %}
  {% block js_blueimp_head %}

      {% block js_blueimp_stylesheets %}
          {% include "PRVitrineBundle:Upload:stylesheets.html.twig" %}
      {% endblock js_blueimp_stylesheets %}

  {% endblock js_blueimp_head %}
  {% block js_blueimp_body %}
      <h2> Upload de fichiers </h2>
      <div id='message_info' class='alert alert-info'>
  		Sur cette page vous pouvez lancer le téléchargement de fichiers a mettre a disposition.<br/>

  		</div>

      <div>
          {% block flashes %}
              {% if app.session.flashbag.peekAll|length > 0 %}
                  <div class="row-fluid span12">
                      {{ session_flash() }}
                  </div>
              {% endif %}
          {% endblock flashes %}
      <div class="row-fluid span7">
          <!-- The file upload form used as target for the file upload widget -->
          {% block js_blueimp_form %}
              <!--  TODO: change path -->
              <form id="fileupload" action='' data-url="{{ oneup_uploader_endpoint('gallery')}}" enctype="multipart/form-data" >
                  {% include "PRVitrineBundle:Upload:form.html.twig" %}
              </form>
          {% endblock js_blueimp_form %}
          <!-- modal-gallery is the modal dialog used for the image gallery -->
              {% block js_blueimp_tmpl_upload %}
              <!-- The template to display files available for upload -->
              {% include "PRVitrineBundle:Upload:templateUpload.html.twig" %}
          {% endblock js_blueimp_tmpl_upload %}
          <!-- The template to display files available for download -->
          {% block js_blueimp_tmpl_download %}
              {% include "PRVitrineBundle:Upload:templateDownload.html.twig" %}
          {% endblock js_blueimp_tmpl_download %}
      </div>
      {% block js_blueimp_uploader %}
          {% include "PRVitrineBundle:Upload:javascripts.html.twig" %}
      {% endblock js_blueimp_uploader %}
      <script>
      $(function () {
          $('#fileupload').fileupload({
            done: function(e, data) {
                var result = $.parseJSON(data.result);
                if (result.success===true){
                    window.location.reload();
                }
                if (result.success==='exception'){
                    window.location.reload();
                }
            },
          });
      });

      </script>

  {% endblock js_blueimp_body %}
{% endblock %}
