@font-face {
 font-family: 'Barcelony';
 src: url("Barcelony.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Oswald';
 src: url("Oswald.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
}

@font-face {
	font-family: 'Papyrus';
	src: url("Papyrus.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
   }


*{
	font-family:Papyrus;
	font-size:18px;
}

body {
margin:auto;
min-height:100vh !important;
text-align:center;
background-color:#111111 !important;
color:white;
}


a{
color:white;
}

a:hover{
color:white;
text-decoration: underline;
}

a:active{
color:white;
text-decoration: underline;
}

a:visited{
color:white;

}

#header {
	background-color : #3D586E;
	opacity: 0.9;
}

#header h1 {
	color : #FF6770;
}

#header p {
	color : #fff;
}

.jumbotron {
	padding-top: 2px;
	padding-bottom: 10px;
}

#content {
	border-left : 1px solid #eee;
}

footer {
	text-align : center;
	font-size: 12px;
	overflow-y: hidden;
	height:30px !important;


}

footer div{
	font-size: 12px !important;

}
footer div a{
	font-size: 12px !important;

}

.dataTable {
	border-left : none;
	border-right : none;
}

.dataTable th {
	border: 1px solid #e0dede;
}

#dataTable td {
	border : 1px solid #eee;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #e6e6e6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% !important;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus{
	color: #EA661E;
	text-decoration: none;
	background-color: #f5f5f5;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	color: #EA661E;
	background-color: #eee;
	border-color: #eee;
	z-index: 2;
}

.menuHaut-link.active, .menuHaut-link.active:hover, .menuHaut-link.active:focus {
	background-color: #eee;
	z-index: 2;
}

.ui-widget-header {
	background : #C4D7ED;
	opacity: 0.8;
}

.mergeDiv{
	margin:0 !important;
	padding:0 !important;

}


.alert-info2{
	background-image: none;
	background-color: #C9A0DC !important;
	border-color: #C9A0DC !important;
	color:#800080!important;
}


.Expandshow {
    display: none;
}
.Expandhide:target + .Expandshow {
    display: inline;
}
.Expandhide:target {
    display: none;
}


/*style the (+) and (-) */
.Expandhide, .Expandshow {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	font-size: 20px;
	color: #fff;
	text-shadow: 0 1px 0 #666;
	text-align: center;
	text-decoration: none;
	box-shadow: 1px 1px 2px #000;
	background: #cccbbb;
	opacity: .95;
	margin-right: 0;
	float: left;
	margin-bottom: 25px;
}


#message_info{
	width:fit-content !important;
}


#pr_banniere{

	height:auto;
	max-height: 259px;
	background-color:#111111;
	background-image: url('../img/banniere.jpg');
	background-repeat: no-repeat;
	background-position: left;
	text-align:center;
	line-height:200px;
	color:white;
	text-transform:uppercase;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */


}

@media screen and (max-width: 768px) {

	#pr_banniere{
		height:auto;
		max-height: 75px;
		background-color:#111111;
		background-image: url('../img/banniere.jpg');
		background-position: left;
		text-align:left;
		line-height:75px;
		color:white;
		text-transform:uppercase;
		-webkit-background-size: cover; /* pour anciens Chrome et Safari */
		background-size: cover; /* version standardisée */
		margin-left:0px;
		margin-right:0px;

	}
	#pr_menu{
		border-top:1px solid #888888;
		border-bottom:1px solid #888888;
		background-color:#222222;
		color:white;
		text-transform:uppercase;
		width: 100%;
		max-width:inherit;
		max-height: none;
	}

}

#pr_menu{
	border-top:1px solid #888888;
	border-bottom:1px solid #888888;
	background-color:#222222;
	color:white;
	text-transform:uppercase;
	width: 100%;
	max-width:inherit;
	max-height:20px;
}

#pr_menu a{
	font-family:Oswald !important;
}

.wrapper{
	background-color:#111111 !important;
}

.content-wrapper{
	background-color:#111111 !important;


}

.main-footer{
	background-color:#111111 !important;
	color:white;
	font-style:italic;
	max-height:30px;
}


.login_forms form label{
	font-family:arial !important;
	font-weight:300;
}

.login_forms form input[type=submit]{
	background-color:green;
	border-color: green;
}

.modal-dialog{
		width:fit-content;
}

.modal-content{

	height:fit-content;
	width:fit-content;
	background-color: #111111 !important;
}

.modal-header{
	background-color: #111111 !important;
}

.modal-body{
	background-color: #111111 !important;
}

.modal-footer{
	background-color: #111111 !important;
}

.modal-content .close{
	opacity: 1;
	text-shadow: none;
	color:white;
}

.img_crop{
 height:200px;
 width: 300px;
 overflow:hidden;
}

.img-thumbnail{
	padding:0 !important;
	border-radius:0 !important;
	border: none !important;
	width:100%;
	height:auto;

}

.grid-container{
	display: grid;;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap:1em;
}
