{% block menu %}
<ul class="nav navbar-nav" style='color:white !important; float:none; display: inline-table; padding:0;'>
  </li>
  {% for itemMenu in listMenu %}

    <li><a href="{{ path(itemMenu.pathname) }}"><i class="{{itemMenu.icontype}}" aria-hidden="true"></i> {{itemMenu.Title}} </a></li>
  {% endfor %}
</ul>
{% endblock %}
